doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    if (messages.error)
      ul
        each error in messages.error
          li= error

    block content
