extends layout
block content
    form(action='login', method='post')
        div
            label Username
            input(type='text', name='username', value='Jesper')
        div
            label Password
            input(type='text', name='password', value='secret')
        div
            input(type='submit')